# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-ldvr1.asia-southeast1.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=JGNKLNZDFPUWS2HQ
sasl.password=CHzOFI/dNBV61koLUTdMt26OWMCGKy0fQtJWkjEsVypSU1Klhr1Wtq2jtjsDJoKb

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

# Required connection configs for Confluent Cloud Schema Registry
schema.registry.url=https://{{ SR_ENDPOINT }}
basic.auth.credentials.source=USER_INFO
basic.auth.user.info=JGNKLNZDFPUWS2HQ:CHzOFI/dNBV61koLUTdMt26OWMCGKy0fQtJWkjEsVypSU1Klhr1Wtq2jtjsDJoKb
